{% extends'admin/admin_panel.html' %}
{% block contents%}
<h2>
	MANAGE GIFTS
</h2>
<div class="my-2 row">
	<div class="col">
		<a href="/admin/add_gifts" class="btn btn-success">Add Gift</a>
	</div>
</div>
<table class="table">
	<tr>
		<th>#</th>
		<th>Gift Name</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	{% for x in gifts %}
	<tr>
		<td>{{loopindex}}</td>
		<td>{{x.gift_name}}</td>
		<td><a href="{{ url_for('edit',id=x.gift_id)}}">Edit</a></td>
		<td><a href="/admin/delete/{{x.gift_id}}"onclick="return confirm('Do you really want to delete this record?')" class="text-danger">Delete</a></td>
	</tr>
	{%endfor%}
</table>
{%endblock%}